In [1]:
import pandas as pd

In [2]:
movies=pd.read_clipboard()

EmptyDataError: No columns to parse from file

In [ ]:
movies

In [3]:
m=pd.read_csv(r'myMovies1.csv')

In [4]:
m

,ID,Name,Industry,Genre,Language,Duration,Rating
0,1,Baahubali,Tollywood,Action,Telugu,170,9.5
1,2,Brahmastra,Bollywood,Mysterious,Hindi,180,5.0
2,3,URI -The Surgical Strike,Bollywood,Action,Hindi,120,10.0
3,4,DDLJ,Bollywood,Romantic,Hindi,150,10.0
4,5,Avengers- Endgame,Hollywood,Action,English,180,9.0
5,6,Tenant,Hollywood,SciFi,English,150,8.5
6,7,Major,Bollywood,Action,Hindi,140,8.0
7,8,Intersteller,Hollywood,SciFi,English,190,7.0
8,9,Gravity,Hollywood,SciFi,English,130,6.0
9,10,Titanic,Hollywood,Drama,English,180,9.0
10,11,Yeh Jawani Hai Deewani,Bollywood,Romantic,Hindi,150,5.0
11,12,Houseful,Bollywood,Comedy,Hindi,150,6.0
12,13,The Dictator,Hollywood,Comedy,English,120,7.0
13,14,Hera Pheri,Bollywood,Comedy,Hindi,140,9.0
14,15,Sholay,Bollywood,Drama,Hindi,150,8.5

In [ ]:
m=pd.read_clipboard()

In [ ]:
m

In [ ]:
df=pd.DataFrame(m)

In [ ]:
df

In [ ]:
m['Name'][m['Duration'].argmax()]

In [ ]:
m[m['Rating']==10]['ID'].count()

In [ ]:
sum(m["Rating"]==10)

In [ ]:
len(m["Industry"].value_counts())

In [ ]:
m["Industry"].value_counts().count()

In [ ]:
m["Industry"].nunique()

In [ ]:
m["Industry"].unique()

In [ ]:
m["Name"][m[m["Genre"]=="Comedy"]["Rating"].idxmin()]

In [ ]:
m["Name"][m[m["Genre"]=="Comedy"]["Rating"].min()]

In [ ]:
m.columns

In [ ]:
m["Name"][m[m["Language"]=="English"]["Duration"].idxmax()]

In [ ]:
m

In [ ]:
m["Genre"][m["Name"]=="Intersteller"].values[0]

In [ ]:
m["Genre"].unique()

In [ ]:
for g in m["Genre"].unique():
    print(g,m[m["Genre"]==g]["Duration"].mean())

In [ ]:
m["Genre"].str.upper()

In [ ]:
m["Genre"].str.get_dummies()

In [ ]:
m.groupby(["Industry","Genre"])["Duration"].mean()

In [ ]:
m.groupby(["Genre","Industry"])["Duration"].mean()

In [ ]:
m.describe()

In [ ]:
del m["ID"]

In [ ]:
m

In [ ]:
m.describe()

In [ ]:
m.drop(["ID"],axis=1,inplace=True)

In [ ]:
m1=pd.read_csv(r'myMovies1.csv',index_col=0)

In [ ]:
m1

In [ ]:
m.describe(include='all')

In [ ]:
m.info()

In [ ]:
m.groupby(["Industry","Genre"]).describe().T

In [ ]:
m.groupby("Industry")["Rating"].mean()

In [ ]:
m[m["Genre"]=="Romantic"].groupby("Industry")["Rating"].mean()

In [ ]:
m[m["Language"]=="English"][["Name","Rating"]].sort_values("Rating",ascending=False)

In [5]:
m

,ID,Name,Industry,Genre,Language,Duration,Rating
0,1,Baahubali,Tollywood,Action,Telugu,170,9.5
1,2,Brahmastra,Bollywood,Mysterious,Hindi,180,5.0
2,3,URI -The Surgical Strike,Bollywood,Action,Hindi,120,10.0
3,4,DDLJ,Bollywood,Romantic,Hindi,150,10.0
4,5,Avengers- Endgame,Hollywood,Action,English,180,9.0
5,6,Tenant,Hollywood,SciFi,English,150,8.5
6,7,Major,Bollywood,Action,Hindi,140,8.0
7,8,Intersteller,Hollywood,SciFi,English,190,7.0
8,9,Gravity,Hollywood,SciFi,English,130,6.0
9,10,Titanic,Hollywood,Drama,English,180,9.0
10,11,Yeh Jawani Hai Deewani,Bollywood,Romantic,Hindi,150,5.0
11,12,Houseful,Bollywood,Comedy,Hindi,150,6.0
12,13,The Dictator,Hollywood,Comedy,English,120,7.0
13,14,Hera Pheri,Bollywood,Comedy,Hindi,140,9.0
14,15,Sholay,Bollywood,Drama,Hindi,150,8.5

In [6]:
d={"Country":["India","USA",'Japan',"China","India","USA"],
   "Year":['2010','2010','2010','2015','2015','2015'],
   "Continent":["Asia","NA","Asia","Asia","Asia","NA"],
   "Value":[20,10,40,50,60,55]}

In [8]:
import pandas as pd
import numpy as np

In [7]:
d

{'Country': ['India', 'USA', 'Japan', 'China', 'India', 'USA'],
 'Year': ['2010', '2010', '2010', '2015', '2015', '2015'],
 'Continent': ['Asia', 'NA', 'Asia', 'Asia', 'Asia', 'NA'],
 'Value': [20, 10, 40, 50, 60, 55]}

In [9]:
df=pd.DataFrame(d)

In [10]:
df

  Country  Year Continent  Value
0   India  2010      Asia     20
1     USA  2010        NA     10
2   Japan  2010      Asia     40
3   China  2015      Asia     50
4   India  2015      Asia     60
5     USA  2015        NA     55

In [27]:
str(df["Country"][df["Country"]=="Japan"].values)

"['Japan']"

In [33]:
df.pivot_table(df,index=["Year"],aggfunc="sum")

      Value
Year
2010     70
2015    165

In [34]:
df.pivot_table(df,index=["Continent"],aggfunc="sum")

           Value
Continent
Asia         170
NA            65