In [3]:
import pandas as pd
import numpy as np

In [58]:
a=pd.Series(data=[23,45,'fdg','fdfghjj'],index=['234',6874,242,87])

In [1]:
a['234':]

NameError: name 'a' is not defined

In [38]:
k=pd.Series({"key1":['vala','valb'],"key2":["valc","vald"],"key3":[56,76],"key4":[56,89]})

In [5]:
pd.Series({45:[1,2],67:[3,4]})

45    [1, 2]
67    [3, 4]
dtype: object

In [4]:
n=pd.Series(np.arange(6.0))

In [49]:
n[2:]

2    2
3    3
4    4
5    5
dtype: int32

In [77]:
n=pd.Series(np.array([1,45,89,76,45,56]))
n

0     1
1    45
2    89
3    76
4    45
5    56
dtype: int32

In [15]:
type(n)

pandas.core.series.Series

In [16]:
n.size

6

In [18]:
k.size

2

In [19]:
a=pd.Series([34,[56,89],754,2425,["aa",'b']])

In [20]:
a

0          34
1    [56, 89]
2         754
3        2425
4     [aa, b]
dtype: object

In [21]:
type(a)

pandas.core.series.Series

In [23]:
a.size

5

In [31]:
a[0:4:3]

0      34
3    2425
dtype: object

In [24]:
a.shape

(5,)

In [26]:
a[:]

0          34
1    [56, 89]
2         754
3        2425
4     [aa, b]
dtype: object

In [32]:
k["key1"]

['vala', 'valb']

In [43]:
k["key1"::2]

key1    [vala, valb]
key3        [56, 76]
dtype: object

In [5]:
n

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
dtype: float64

In [64]:
n.value_counts()

45    2
1     1
89    1
76    1
56    1
dtype: int64

In [66]:
n.max()

89

In [80]:
n.min()

1

In [78]:
n

0     1
1    45
2    89
3    76
4    45
5    56
dtype: int32

In [79]:
n

0     1
1    45
2    89
3    76
4    45
5    56
dtype: int32

In [74]:
n.min()

1

In [82]:
n.argmax()

2

In [83]:
n.argmin()

0

In [84]:
a=pd.Series(data=[23,45,4534,9776],index=['a','c','t','g'])

In [85]:
a

a      23
c      45
t    4534
g    9776
dtype: int64

In [86]:
a.max()

9776

In [118]:
a.argmax()

3

In [91]:
a.idxmax()

'g'

In [92]:
a.idxmin()

'a'

In [93]:
d=pd.DataFrame(data=[[23,34],[45,65]])

In [94]:
d

    0   1
0  23  34
1  45  65

In [95]:
type(d)

pandas.core.frame.DataFrame

In [105]:
import random as r
s=pd.DataFrame([[2,3,4,5,6],[3,6,7,8,4],[6,8,4,7,0],[5,6,7,8,9],[3,5,1,2,4]])

In [106]:
s

   0  1  2  3  4
0  2  3  4  5  6
1  3  6  7  8  4
2  6  8  4  7  0
3  5  6  7  8  9
4  3  5  1  2  4

In [109]:
s.tail(2)

   0  1  2  3  4
3  5  6  7  8  9
4  3  5  1  2  4

In [111]:
s.head(1)

   0  1  2  3  4
0  2  3  4  5  6

In [123]:
s.sample()

    0    1  2  3  4
1 NaN  6.0  7  8  4

In [120]:
s.sample()

   0  1  2  3  4
3  5  6  7  8  9

In [140]:
import numpy as np
s=pd.DataFrame([[2,np.nan,4,6],[np.nan,6,7,8,4],[6,8,4,7,0],[5,np.nan,7,8,9],[3,5,1,2,4]],index=['a','b','c','d','e'],columns=['g','k','h','i','o'])

In [141]:
s

     g    k  h  i    o
a  2.0  NaN  4  6  NaN
b  NaN  6.0  7  8  4.0
c  6.0  8.0  4  7  0.0
d  5.0  NaN  7  8  9.0
e  3.0  5.0  1  2  4.0

In [170]:
s[['g','h','i']][0:]

     g  h  i
a  2.0  4  6
b  NaN  7  8
c  6.0  4  7
d  5.0  7  8
e  3.0  1  2

In [171]:
s['p']=[544,6546,767,42,578]

In [172]:
s

     g    k  h  i    o     p
a  2.0  NaN  4  6  NaN   544
b  NaN  6.0  7  8  4.0  6546
c  6.0  8.0  4  7  0.0   767
d  5.0  NaN  7  8  9.0    42
e  3.0  5.0  1  2  4.0   578

In [173]:
s.size

30

In [174]:
s.shape

(5, 6)

In [177]:
s['p'].min()+s['p'].max()

6588

In [181]:
s['g']=s['h']+s['k']

In [179]:
s

      g    k  h  i    o     p
a   NaN  NaN  4  6  NaN   544
b  13.0  6.0  7  8  4.0  6546
c  12.0  8.0  4  7  0.0   767
d   NaN  NaN  7  8  9.0    42
e   6.0  5.0  1  2  4.0   578

In [186]:
f=s['g']>12

In [188]:
s[f]

      g    k  h  i    o     p
b  13.0  6.0  7  8  4.0  6546