In [1]:
import pandas as pd

In [2]:
people6={"id":[1,2,3,4],"namex":["ab",'rf','df','sa'],
        "age":[45,76,21,35]}
df6=pd.DataFrame(people6)

In [3]:
df6

   id namex  age
0   1    ab   45
1   2    rf   76
2   3    df   21
3   4    sa   35

In [4]:
df6.to_json('myjson.json')